
/* media queries */
@media (min-width: 768px){
  h5 {
    font-size: 24px;
  }
  h5 span {
    font-size: 16px;
  }
  #nav div {
    height: 4px;
    width: 45px;
    background-color: black;
    margin: 4px 0px;
    border-radius: 5px;
  }
  nav ul a {
    font-size: 24px;
  }
  h2 {
    font-size: 36px;
  }
  #home {
    margin-top: 150px;
    font-size: 50px;
  }
 .ml11 .letter {
    font-size: 50px;
  }
  #aboutme {
    padding-top: 50px;
  }
  #about {
    padding-top: 0px;
  }
  .image1 {
    height: 400px;
    width: 400px;
  }
  .infoSections ul li.active{
    font-size: 16px;
  }
  .education div img:nth-of-type(1){
    width: 14vw;
    height: 3vh;
  }
  .education div img:nth-of-type(2){
    width: 12vw;
    height: 6vh;
  }
  .education span {
    font-size: 16px;
  }
  #about p {
    font-size: 22px;
  }
  .skills li {
    font-size: 16px;
  }
  input, select {
    height: 38px;
  }
  #projects {
    padding: 20px 0;
    display: grid;
    grid-template-rows: 30px repeat(3, 1fr);
    grid-template-columns: 50% 50%;
    justify-items: center;
    grid-template-areas:
    "title title"
    "pro1 pro2"
    "pro3 pro4"
    "pro5 pro6";
  }
  #projects h2 {
    grid-area: title;
    padding-top: 10px
  }
  #projects div:nth-of-type(1){
    grid-area: pro1;
  }
  #projects div:nth-of-type(2){
    grid-area: pro2;
  }
  #projects div:nth-of-type(3){
    grid-area: pro3;
  }
  #projects div:nth-of-type(4){
    grid-area: pro4;
  }
  #projects div:nth-of-type(5){
    grid-area: pro5;
  }
  #projects div:nth-of-type(6){
    grid-area: pro6;
  }
  #contactme {
    padding-top: 70px;
  }
  #contact {
   padding-top: 70px;
  }
  section{
    width: 80vw;
  }
  label, select{
    font-size: 22px;
  }
  input, textarea, select {
    font-size: 16px;
  }
  footer {
    font-size: 16px;
  }
  .icon {
    width: 50px;
    height: 40px;
  }
}
@media (min-width: 1024px){
  header {
    position: fixed;
    width: 100%;
    justify-content: space-between;
  }
  h5 {
  font-size:28px;
  padding: 5px 20px;
  }
  h5 span {
    font-size: 20px;
  }
  #nav {
    display: none;
  }
  nav {
    flex: 1;
    align-self: center;
    padding-right: 22px;
  }
  nav ul {
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  nav ul li a{
    font-size: 24px;
    padding: 0 8px;
  }
  nav ul a::selection {
    color: green;
  }
  h2 {
    font-size: 36px;
  }
  #home {
    background-size: cover;
    height: 100vh;
    margin-top: 0;
    display: flex;
    justify-content: center;
  }
  .ml11 .text-wrapper {
    margin-top: 90px;
  } 
  .ml11 .line {
    height: 80%;
  }
  .ml11 .letter {
    font-size: 50px;
  }
  .ml11 .line1 {
    top: 15%;
    left: 0;
  }
  #aboutme{
    padding-top: 50px;
  }
  #about {
    padding: 20px;
    margin: 0;
    width: 100vw;
  }
  .aboutcontent{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .infoSections{
    width: 65vw;
  }
  .infoSections div{
    width: 30vw;
    height: 22vh;
  }
  .infoSections ul li{
    text-align: center;
    font-size: 16px;
  }
  .infoSections ul li.active{
    font-size: 20px;
  }  
  .location {
    height: 20vh;
    width: 30vw;
  }
  .hobby {
    height: 20vh;
    width: 30vw;
  }
  .education {
    height: 20vh;
    width: 30vw;
  }
  .education div img:nth-of-type(1){
    width: 11vw;
    height: 3.8vh;
  }
  .education div img:nth-of-type(2){
    width: 10vw;
    height: 9vh;
  }
  .education span{
    font-size: 18px;
  }
  .resume {
    height: 20vh;
    width: 30vw;
  }
  .brand, .brand div{
    height: 28vh;
    width: 60.4vw;
    font-size: 16px;
  }
  #about h2{
    padding: 10px;
    margin: 0;
  }
  .image1{
    display: none;
  }
  .image2 {
    display: block;
    width: 29vw;
    height: 70vh;
    margin: 20px 20px;
    border-radius: 10px;
  }
  #about h2 {
    width: 100%;
    align-self: center;
    text-align: center;
  }
  #about p {
    margin-top:0;
    text-align: center;
    line-height: 2.1em;
    font-size: 26px;
  }
  .skills {
    width: 100%;
  }
  .skills li {
    font-size: 18px;
    padding: 5px 20px;
    margin: 0 10px;
  }
  #myprojects{
    padding-top: 5px;
  }
  #projects {
    width: 90vw;
    height: 85vh;
    display: grid;
    grid-template-rows: 60px repeat(2, 42vh);
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-template-areas:
    "heading heading heading"
    "pro1 pro2 pro3"
    "pro4 pro5 pro6";
  }
  #projects section{
    display: flex;
  }
  #projects h2 {
    padding: 30px;
    margin: 0;
    grid-area: heading;
  }
  #projects div:nth-of-type(1){
    grid-area: pro1;
  }
  #projects div:nth-of-type(2){
    grid-area: pro2;
  }
  #projects div:nth-of-type(3){
    grid-area: pro3;
  }
  #projects div:nth-of-type(4){
    grid-area: pro4;
  }
  #projects div:nth-of-type(5){
    grid-area: pro5;
  }
  #projects div:nth-of-type(6){
    grid-area: pro6;
  }
  #contactme{
    padding-top: 115px;
    display: flex;
    justify-content: center;
  }
  #contact {
    width: 80vw;
    height: 80vh;
    flex-direction: row;
    padding:0;
  }
  #contact h2 {
    align-self: flex-start;
    margin: 30px 50px;
    width: 45vw;
  }
  .myContact{
    margin-top: 0;
    flex: 1;
    height: 80vh;
    justify-content: flex-start;
    padding: 100px 0px
  }
  .myContact h3{
    font-size: 30px;
  }
  .contactInfo {
    text-align: left;
    margin: 0;
  }
  .contactInfo li {
    margin: 30px;
  }
  input, textarea, select {
    width: 20vw;
    border-radius: 6px;
  }
  form {
    padding: 30px;
    width: 55vw;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  form div{
    width: 20vw;
    margin: 10px 50px 10px 0;
  }
  form div:nth-of-type(5){
    width: 50vw;
  }
  #comments {
    width: 44vw;
    margin-bottom: 20px;
  }
  footer {
   font-size: 20px;
  }
  .icon {
   width: 60px;
   height: 50px;
  }
}

/* @media (min-width:1500px){
  h5{
    font-size: 36px;
  }
  h5 span{
    font-size: 26px;
  }
  nav ul {
    font-size: 32px;
  }
  h2{
    font-size: 50px;
  }
  #about p {
    font-size: 28px;
  }
  #about ul li {
    font-size: 20px;
  }
} */
