/* import texts */
@import url('https://fonts.googleapis.com/css?family=Exo|Merriweather&display=swap');

*{
  box-sizing: border-box;
}
a:active, a:hover, a:focus, a:visited { 
  outline: none;
}
button:active, button:hover, button:focus, button:visited { 
  outline: none;
}
body {
  width: 100%;
}
#wrapper {
  font-family: 'Exo', sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
header {
  margin-top: 0;
  position: fixed;
  width: 100vw;
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  width: 100%;
  z-index: 3;
  box-shadow: 0px 15px 15px -20px gray; 
}
h5 {
  color: black;
  width: 80%;
  font-size: 14px;
  padding: 15px 20px;
  margin: 0;
  align-self: center;
 }
 h5 span {
  /* color: #CDCED2; */
  color: #B3B4B0;
  font-size: 10px;
}
#nav {
  padding: 0 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

}
#about.pad {
  padding-top: 400px;
}
#nav div {
  height: 2px;
  width: 28px;
  background-color: black;
  margin: 3px 0px;
  border-radius: 5px;
}
nav {
  width: 20%;
  flex: 1;
  margin: 0;
  padding-right: 20px;
}
nav ul{
  text-align: left;
  padding: 0;
  display: none;
  list-style-type: none;
}
nav li {
  padding: 15px 10px;
  font-size: 18px;
}
nav ul a {
  text-decoration: none;
  color: black;
}
nav ul a:hover {
  color: #E3C8AA;
  /* color: #C3D69C; */
}
nav .active {
  color: #E3C8AA;
  /* color: #C3D69C; */
}
nav ul.nav-active {
  display: block;
}
main {
  display:flex;
  flex-direction: column;
  align-items: center;
}
#home { 
  background-image: url('https://res.cloudinary.com/dwbqzx4rr/image/upload/v1584128524/jessy-smith-zFOm6KzA-7g-unsplash_a7sa9j.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  text-align: center;
  height: 60vh;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
}
h1{
  align-self: center;
  margin: 0;
}
.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 50px;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 50%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}
.ml11 .line1 {
  top: 30%;
  left: 0;
}
.ml11 .letter {
  display: inline-block;
  line-height: 1em;
  font-size: 30px;
  color: white;
}
/* the hover effect is from https://codepen.io/IanLunn/pen/hysxc */
.ml11 .letter:hover {
  cursor: pointer;
  animation-name: wobble-top;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
}
@keyframes wobble-top {
  16.65% {
    transform: skew(-12deg);
  }

  33.3% {
    transform: skew(10deg);
  }

  49.95% {
    transform: skew(-6deg);
  }

  66.6% {
    transform: skew(4deg);
  }

  83.25% {
    transform: skew(-2deg);
  }

  100% {
    transform: skew(0);
  }
}
#aboutme {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#about {
  width: 90vw;
  text-align: center;
  padding: 35px 20px;
  border-bottom: 1px solid #B3B4B0;
}
#aboutme h2{
  font-weight: bold;
  color: #E3C8AA;
}
#about p {
  font-weight: bold;
}
.image2 {
  display: none;
}
.image1 {
  border-radius: 300px;
  margin-bottom: 20px;
  height: 250px;
  width: 250px;
}
.infoSections div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 38vw;
  height: 22vh;
  background-color: rgba(255,255,255,0.7);
  margin: 0px;
} 
.infoSections {
  margin-top: 20px;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.infoSections ul {
  margin: 2px;
  padding: 0px;
  text-align: center;
  list-style-type: none;
}
.infoSections ul li{
  display: none;
}
/* Keyframe taken from https://blog.hubspot.com/website/css-fade-in */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
.infoSections ul li.active{
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 2s;
  display: block;
  font-size: 12px;
}
.location{
  background-image: url("https://images.unsplash.com/photo-1555424221-250de2a343ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1943&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 20vh;
  width: 38vw;
} 
.hobby {
  background-image: url("https://images.unsplash.com/photo-1501555088652-021faa106b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 20vh;
  width: 38vw;
}
.education {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTfiS7VNsi3tO_HtIHMgTZSS19e61QXlfE0KKinoaMf1dm1ow7r&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 20vh;
  width: 38vw;
}
.education div img:nth-of-type(1){
  width: 16vw;
  height: 3vh;
  margin: 0px;
}
.education div img:nth-of-type(2){
  width: 14vw;
  height: 6vh;
  margin: 0px;
}
.education span{
  font-size: 8px;
}
.resume{
  background-image: url("https://live.staticflickr.com/7068/13903383190_5920c870e1_b.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 20vh;
  width: 38vw;
}
.resume a{
  color: black;
}
.resume a:hover{
  color: #588CB4;
}
.brand{
  background-image: url("https://cdn.pixabay.com/photo/2018/01/10/13/22/energy-3073847_960_720.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 28vh;
  width: 76vw;
}
.brand div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.7);
  height: 28vh;
  width: 76vw;
  padding: 5px 15px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin:0;
}
.skills li {
  font-size: 12px;
  padding: 5px 10px;
}
#myprojects{
  width: 100vw;
  border-bottom: 1px solid #B3B4B0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FCFCFC;
  padding-top: 40px;
}
#projects {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#myprojects h2 {
  color: #E3C8AA;
}
.hover {
  background-color: rgba(244, 244, 244, 0.5);
  z-index: 1;
  width: 300px;
  height: 300px;
  padding: 20px 15px;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hover p{
  padding: 5px;
  font-size: 18px;
}
.hover a{
  width: 300px;
  display: flex;
  justify-content: space-around;
}
.hover a i{
  margin-left: 5px;
}
.button {
  font-size: 16px;
  width: 120px;
  height: 40px;
  margin: 0;
  border: none;
  background-color: #E3C8AA;
  box-shadow: 0 8px 10px rgba(0, 0, 0 ,0.5);
  border-radius: 100px;
}
.button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
#projects div{
  padding: 0;
  border: 1px solid silver;
  width: 300px;
  height: 300px;
  margin: 50px 0;
  box-shadow: 10px 10px 10px gray;
}
.background {
  background-size: cover;
  text-align: center;
  font-size: 20px;
}


/* https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Responsive_Web_Design_Demo_Template.svg/320px-Responsive_Web_Design_Demo_Template.svg.png */

img:hover {
  cursor: pointer;
}
#contactme{
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
#contact {
  color: black;
  width: 90vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact h2{
  font-size: 28px;
  padding: 20px;
}
form {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.card {
  background-color: white;
  padding:  20px 50px;
}
#name, #email {
  border: 1px solid gray;
}
label:active {
  color: black;
}
input, select {
  height: 24px;
  width: 50vw;
  color: black;
}
input, textarea, select {
  width: 60vw;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: white;
  font-size: 14px;
  margin: 20px;
  padding: 16px 10px;
  color: black;
}
.form-control {
  border: 1px solid gray;
  width: 60vw;
  border-radius: 6px;
  background-color: white;
  padding: 5px 6px;
  font-size: 14px;
  margin: 20px;
}
select:invalid { 
  color: grey; 
}
textarea {
  border-radius: 10px;
}
form button {
  margin: 30px 60px;
}
.icons i {
  font-size: 30px;
  margin: 0 10px;
  color: black;
}
.icons i:hover{
  color: #588CB4;
}
#contact button{
  background-color:#E3C8AA;
}
.contactInfo p{
  margin: 20px 0;
}
.myContact {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E3C8AA;
  width: 90vw;
  padding: 50px 30px;
}
.contactInfo {
  text-align: left;
  margin: 10px 0;
}
.myContact h3 {
  font-size: 24px;
}
.contactInfo li {
  margin: 20px;
}
.myContact h3{
  margin: 0;
}
footer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: 14px;
  color: black;
}
p {
  margin: 0;
}
